<%= render 'layouts/left_content' %>
<div class="col-sm-8" >
    <%= render 'layouts/calendar' %>
</div>
<div class="col-sm-2">
  <div class="panel panel-warning">
    <div class="panel-heading">Робочее расписание</div>
    <div class="panel-body">
      Пн-Пт - 10.00-19.00
    </div>
  </div>
</div>