<% provide(:title, 'Контакты') %>

<div class="col-sm-8 col-sm-offset-2 text-left">
  <div class="panel panel-info">
    <div class="panel-heading">Panel with panel-info class</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>

<%= render 'layouts/vk_widget' %>