<div class="container-fluid" id="car">
  <div id="carousel" class="carousel slide">
    <!----Индикаторы слайдов--->
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel" data-slide-to="0"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!----Слайды--->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "1.jpg" %>
        <div class="carousel-caption">
          <h3>Первый слайд</h3>
          <p>Описание первого слайда</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "2.jpg" %>
        <div class="carousel-caption">
          <h3>Второй слайд</h3>
          <p>Описание второго слайда</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "3.jpg" %>
        <div class="carousel-caption">
          <h3>Третий слайд</h3>
          <p>Описание третьего слайда</p>
        </div>
      </div>

    </div>
    <!----Стрелки переклбчения слайдов--->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a href="#carousel" class="right carousel-control" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>