
<div id="datepicker"></div>

<script>

    jQuery('#datepicker').datepicker({
        language: "ru",
        todayHighlight: true,
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
    });



</script>

