
<div id="datepicker"></div>

<script >
    
        $('#datepicker').datepicker({
            language: "ru",
            todayHighlight: true,
            daysOfWeekHighlighted: "0,6",
            todayBtn: true,
        });



</script>

