
<div class="datepicker"></div>

<script type="text/javascript">

         $('.datepicker').datepicker({
            language: "ru",
            todayHighlight: true,
            daysOfWeekHighlighted: "0,6",
            todayBtn: true,
        });



</script>

