
<div id="datepicker"></div>

<script type="text/javascript">
  $(function(){
    $('#datepicker').datepicker({
        language: "ru",
        todayHighlight: true,
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
    });
  });


</script>

