<div class="col-sm-2 sidenav">
    <div class="well">
      <p>Здесь что-то будет</p>
    </div>
    <div class="well">
      <p>Здесь что-то будет</p>
    </div>
</div>
<%= render 'layouts/vk_widget' %>